<style type="text/css">
	body {
		background-color: #CBFFFA;
	}
</style>

<h1>Log In</h1>
 
 	
<div class="form-group col-md-4">
 	<%= form_for :customer, {url:sessions_path} do |f| %>	
	<%= f.text_field :email, placeholder: "Email Address", class: "form-control" %>
	<%= f.password_field :password, placeholder: "Password", class: "form-control" %>
	<%= f.submit %>
</div>


<% end %>


</br>
<div class="col-md-4">
	<% flash.each do |key, value| %>
		<div class="alert alert-danger"><%= value %></div>

	<% end %>

</div>