<h1>Inventories</h1>


<%= form_for @inventory do |f| %>
 <%= f.text_field :name, placeholder: "Kringle Flavor"%>
 <%= f.text_field :qty_on_hand, placeholder: "Quantity" %>
 <%= f.submit %>
<%= form_for @inventory do |f| %>
  hello <%= f.check_box :subscribe, {checked: true} %>
  <% end %>
<% end %>
