<h1>Inventories</h1>


<%= form_for @inventory do |f| %>
 
 <%= f.select :name, ['Almond', 'Raspberry', 'Apricot'], placeholder: "Flavor" %>
 <%= f.number_field :qty_on_hand, placeholder: "Quantity" %>
 <%= f.submit %>
 <%= form_for @inventory do |f| %>

<% end %>


<% end %>
