
<style type="text/css">

	body {
		background-color: #FFC0CB;
	}	

	h1 {
		color: white;
	}

	p {
		color: white;
	}


</style>



<h1>Hi, <%= current_customer.first_name %>!</h1>


	
<ul>

	<li><%= link_to "Place Order", new_orders_path %></li>  

	<li><%= link_to "View Orders", orders_path %></li>

	<li><%= link_to "Edit Order", edit_orders_path %></li>


	</br>


	<% if current_customer && current_customer.is_admin %>

		<li><%= link_to "Inventory", inventories_path %></li>

	<% end %>

</ul>